@import "../../global.scss";

.works {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    h1 {
        align-self: normal;
        position: absolute;
        top: 1%;
        left: 50%;
        transform: translateX(-50%);
    }
    .arrow {
        height: 50px;
        position: relative;
        cursor: pointer;
        @include media(mobile, tablet) {
            height: 25px;
        }

        &.left {
            left: 30px;
            transform: rotateY(180deg);
            @include media(mobile, tablet) {
                left: auto;
            }
        }

        &.right {
            right: 30px;
            @include media(mobile, tablet) {
                right: auto;
            }
        }
    }

    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;
        width: 200%;

        // @include media(mobile, tablet) {
        //     height: 100vh;
        //     flex-direction: column;
        //     justify-content: center;
        // }

        .container {
            // width: 100vw;
            width: 200%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .item {
                // width: 84vw;
                width: 84%;
                // height: 100%;
                backdrop-filter: blur(16px) saturate(180%);
                -webkit-backdrop-filter: blur(16px) saturate(180%);
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                // @include media(mobile, tablet) {
                //     width: 80%;
                //     height: 150px;
                //     margin: 15px 0;
                // }

                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        ul {
                            ul,
                            li {
                                font-size: inherit;
                            }
                        }

                        @include media(mobile, tablet) {
                            ul.large-content {
                                font-size: 0.7rem;
                            }
                        }

                        @include mediaHeight(0px, 666px) {
                            ul {
                                font-size: 0.7rem;
                                &.large-content {
                                    font-size: 0.6rem;
                                }
                            }
                        }
                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgba(255, 255, 255, 0.3);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            // @include media(mobile, tablet) {
                            //     width: 20px;
                            //     height: 20px;
                            // }

                            img {
                                width: 25px;

                                // @include media(mobile, tablet) {
                                //     width: 15px;
                                // }
                            }
                        }
                        h2 {
                            font-size: 20px;

                            // @include media(mobile, tablet) {
                            //     font-size: 13px;
                            // }
                        }
                        p {
                            white-space: pre-line;
                            font-size: 13px;
                            // @include media(mobile, tablet) {
                            //     display: none;
                            // }
                        }
                        span {
                            font-size: 12px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                .right {
                    flex: 4;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img {
                        width: 400px;
                        transform: rotate(-10deg);
                    }

                    @include media(mobile, tablet) {
                        display: none;
                    }
                    @include mediaHeight(0, 666px) {
                        img {
                            width: 350px;
                        }
                    }
                }
            }
        }
    }
}
