@import "../../global.scss";

.intro {
    background-color: white;
    display: flex;
    @include laptop {
        padding: 1rem;
        width: auto;
    }
    @include media(mobile, tablet) {
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.5;
        overflow: hidden;
        @include laptop {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .imgContainer {
            width: 95%;
            height: 98%;
            background-color: $mainColor;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;
            overflow-x: hidden;
            @include laptop {
                width: 95%;
                height: 70%;
            }

            @include media(mobile, tablet) {
                align-items: flex-start;
                width: 700px;
                height: 700px;
            }

            img {
                height: 100%;
                @include media(mobile) {
                    height: 50%;
                }
                @include media(tablet) {
                    height: 50%;
                }
            }
        }
    }
    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include media(mobile, tablet) {
                padding-left: 0;
                align-items: center;
            }

            h1 {
                font-size: 60px;
                margin: 10px 0;
                span {
                    font-size: inherit;
                    color: crimson;
                }
                @include laptop {
                    font-size: 30px;
                }
                @include media(mobile, tablet) {
                    font-size: 20px;
                }
            }
            h2 {
                font-size: 35px;
            }
            h3 {
                font-size: 30px;

                @include media(mobile, tablet) {
                    font-size: 20px;
                }

                span {
                    font-size: inherit;
                    color: crimson;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }

        img {
            position: absolute;
            bottom: 10px;
            left: calc(50% - 30px);
            width: 30px;
            animation: arrowBlink 2s infinite;
        }

        @keyframes arrowBlink {
            100% {
                opacity: 0;
            }
        }
    }
}
